*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    

}
a {
    text-decoration: none;
 color: black;
    
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col1{
    flex-basis: 38%;
    min-width: 325px;
    margin-top: 68px;
}
.col1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}

.btn{
    display: inline-block;
    background: rgb(212, 101, 119);
    color: white;
    padding: 8px 30px;
    margin: 30px 0px ;
    border-radius: 25px;

}
.header{
    background-image: radial-gradient(pink,white);

}
.logo-img{
    background: transparent;
}



.btn:hover{
    background: rgb(218, 28, 60);

}



.s-image{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin: 25px;
}
.row1{
    display: inline-block;
    margin:16px;
}
.catogery{
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-img{
    width: 190px;
    height: 200px;
    display: inline-block;
    margin: 6px ;
}

.contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.col2{

    margin-left: 0px;
    transition: transform 0.5s;

}
.para{
    text-align: center;
    margin: 0px auto 50px;
    position: relative;
}
.para::after{
    content: '';
    background: rgb(230, 74, 17);
    width: 80px;
    height: 5px;
    border-radius: 5px;
position: absolute;
bottom: -13px;
left: 50%;
transform: translate(-50%);
}

.ratting .bi{
    color: rgb(230, 74, 17) ;
}

.col2:hover{
    transform: translateY(-10px);
}
.param{
    margin-top: 38px;
}

.rows{

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* justify-content: center; */
}
.small-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 63px;
    background-image: radial-gradient(rgb(207, 134, 146),white);
 
}

.colu{
    max-width: 319px;
}

.brand img{

    width: 12%;
    cursor: pointer;
    filter: grayscale(100%);
}

.brand{

    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 26px;
    gap: 20px;
}


.para-brand{

    margin-top: 38px;

}

.brand img:hover{
    filter: grayscale(0);
}

.brand-img{

    margin-left: 6px;
}

.review-container img{
    height:5%;
    width:50%;
   border-radius: 50%;

}
.review-container {
        margin:0px auto;
        width:20%;
        border: 2px solid pink;
        border-radius: 5px;
        background-image: radial-gradient(rgb(155, 74, 88),rgb(230, 223, 223));
         
}
.reimg{
    display:flex;
    justify-content: center;
}
.t-cn{
    text-align: center;
}

.reviwe-con{

    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 5px;
}

.footer-container{

    display: flex;
    flex-direction: column;
}
.foo{
    margin-top: 22px;

}

footer{
    background-color: rgba(0, 0, 0, 0.582);
    color: antiquewhite;
    padding: 2px;
    
}

/* 
@media screen and (max-width: 768px){
    .navbar{
   display: flex;
   flex-direction: column;
    }
    
} */

@media screen and (max-width:768px){

    .contain{       
        display: flex;
        flex-direction: column;
    }

    .ctn{
        font-size: 25px;
        text-align: center;
    }
    .rows{
        display:flex;
        flex-direction:column;
    }
    .small-container{
        width: 100vw;
        /* margin: auto; */
        /* padding-left: 40px;
        padding-right: 40px;
        margin-top: 63px; */
        background-image: radial-gradient(rgb(207, 134, 146),white);
     
    }

  .header{
    display: flex;
    flex-direction: column;
  }

  .header .row{

    width: 50vw;
  }
}






